In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [5]:
soup = BeautifulSoup(source, 'xml')
table=soup.find('table')

In [6]:
#dataframe with three columns
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [8]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [10]:
df.tail()

,Postalcode,Borough,Neighborhood
355,M5Z,Not assigned,
356,M6Z,Not assigned,
357,M7Z,Not assigned,
358,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
359,M9Z,Not assigned,

In [13]:
df=df[df['Borough']!='Not assigned']

In [15]:
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [16]:
temp_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [20]:
df_2 = pd.merge(df, temp_df, on='Postalcode')

In [21]:
df_2.drop(['Neighborhood'],axis=1,inplace=True)

In [22]:
df_2.drop_duplicates(inplace=True)

In [23]:
df_2.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)
df_2.head(10)

,Postalcode,Borough,Neighborhood
0,M3A,North York,"Parkwoods, Parkwoods"
2,M4A,North York,"Victoria Village, Victoria Village"
4,M5A,Downtown Toronto,"Regent Park, Harbourfront, Regent Park, Harbou..."
6,M6A,North York,"Lawrence Manor, Lawrence Heights, Lawrence Man..."
8,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government, Q..."
10,M9A,Etobicoke,"Islington Avenue, Humber Valley Village, Islin..."
12,M1B,Scarborough,"Malvern, Rouge, Malvern, Rouge"
14,M3B,North York,"Don Mills, Don Mills"
16,M4B,East York,"Parkview Hill, Woodbine Gardens, Parkview Hill..."
18,M5B,Downtown Toronto,"Garden District, Ryerson, Garden District, Rye..."

In [24]:
df_2.shape

(103, 3)